@model List<Story>


@* stories *@
<div class="mb-8">
	<h3 class="text-black hidden text-2xl font-extrabold">Stories</h3>

	<div class="relative" tabindex="-1" uk-slider="auto play: true;finite: true" uk-lightbox="">
		<div class="py-5 uk-slider-container">
			<ul class="uk-slider-items w-[calc(100%+14px)]" uk-scrollspy="target: > li; cls: uk-animation-scale-up; delay: 20;repeat:true">

				<li class="md:pr-3" uk-scrollspy-class="uk-animation-fade">
					<div class="w-12 h-12 bg-slate-200 border-slate-300 relative grid shrink-0 place-items-center rounded-full border-2 border-dashed md:w-16 md:h-16"
						 uk-toggle="target: #create-story">
						<ion-icon name="camera" class="text-2xl"></ion-icon>
					</div>
				</li>

				@foreach (var story in Model)
				{
					<li class="pr-2 duration-300 hover:scale-[1.15] hover:-rotate-2 md:pr-3">
						<a href="@story.ImageUrl">
							<div class="w-12 h-12 border-white relative overflow-hidden rounded-full border-2 shadow md:w-16 md:h-16 md:border-4">
								<img src="@story.User.ProfilePictureUrl" />
							</div>
						</a>
					</li>
				}

				<li class="pr-2 md:pr-3">
					<div class="w-12 h-12 bg-slate-200/60 animate-pulse rounded-full md:w-16 md:h-16"></div>
				</li>
			</ul>
		</div>
	</div>
</div>
