@model IEnumerable<Post>

<main id="site__main" class="p-2.5 h-[calc(100vh-var(--m-top))] mt-[--m-top] xl:ml-[--w-side-sm] 2xl:ml-[--w-side]">
	<div class="gap-12 mx-auto max-w-[1065px] lg:flex 2xl:gap-16" id="js-oversized">
		<div class="mx-auto max-w-[680px]">
			@* stories *@
			<div class="mb-8">
				<h3 class="text-black hidden text-2xl font-extrabold">Stories</h3>

				<div class="relative" tabindex="-1" uk-slider="auto play: true;finite: true" uk-lightbox="">
					<div class="py-5 uk-slider-container">
						<ul class="uk-slider-items w-[calc(100%+14px)]" uk-scrollspy="target: > li; cls: uk-animation-scale-up; delay: 20;repeat:true">

							<li class="md:pr-3" uk-scrollspy-class="uk-animation-fade">
								<div class="w-12 h-12 bg-slate-200 border-slate-300 relative grid shrink-0 place-items-center rounded-full border-2 border-dashed md:w-16 md:h-16"
									 uk-toggle="target: #create-story">
									<ion-icon name="camera" class="text-2xl"></ion-icon>
								</div>
							</li>

							<li class="pr-2 duration-300 hover:scale-[1.15] hover:-rotate-2 md:pr-3">
								<a href="~/images/avatar/user.png">
									<div class="w-12 h-12 border-white relative overflow-hidden rounded-full border-2 shadow md:w-16 md:h-16 md:border-4">
										<img src="~/images/avatar/user.png" />
									</div>
								</a>
							</li>
							<li class="pr-2 duration-300 hover:scale-[1.15] hover:-rotate-2 md:pr-3">
								<a href="~/images/avatar/user.png">
									<div class="w-12 h-12 border-white relative overflow-hidden rounded-full border-2 shadow md:w-16 md:h-16 md:border-4">
										<img src="~/images/avatar/user.png" />
									</div>
								</a>
							</li>
							<li class="pr-2 duration-300 hover:scale-[1.15] hover:-rotate-2 md:pr-3">
								<a href="~/images/avatar/user.png">
									<div class="w-12 h-12 border-white relative overflow-hidden rounded-full border-2 shadow md:w-16 md:h-16 md:border-4">
										<img src="~/images/avatar/user.png" />
									</div>
								</a>
							</li>
							<li class="pr-2 md:pr-3">
								<div class="w-12 h-12 bg-slate-200/60 animate-pulse rounded-full md:w-16 md:h-16"></div>
							</li>
						</ul>
					</div>
				</div>

			</div>

			<div class="space-y-3 mx-auto flex-1 md:max-w-[580px] xl:space-y-6">

				<div class="bg-white p-2 space-y-4 border1 rounded-xl text-sm font-medium shadow-sm md:p-4">
					<div class="gap-1 flex items-center md:gap-3">
						<div class="bg-slate-100 flex-1 cursor-pointer rounded-lg transition-all hover:bg-opacity-80" uk-toggle="target: #create-status">
							<div class="py-2.5 text-center">What do you have in mind?</div>
						</div>
						<div class="p-1 px-1.5 bg-pink-100/60 cursor-pointer rounded-xl transition-all hover:bg-opacity-80 hover:bg-pink-100" uk-toggle="target: #create-status">
							<svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8 stroke-pink-600 fill-pink-200/70" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
								<path stroke="none" d="M0 0h24v24H0z" fill="none" />
								<path d="M15 8h.01" />
								<path d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z" />
								<path d="M3.5 15.5l4.5 -4.5c.928 -.893 2.072 -.893 3 0l5 5" />
								<path d="M14 14l1 -1c.928 -.893 2.072 -.893 3 0l2.5 2.5" />
							</svg>
						</div>
					</div>

				</div>

				@if (!Model.Any())
				{
					<div class="bg-white p-2 space-y-4 border1 rounded-xl text-sm font-medium shadow-sm md:p-4" style="width: 580px;">
						Currently, there are no posts available. Would you like to create the first one?
					</div>
				}
				else
				{
					@foreach (var post in Model)
					{
						@await Html.PartialAsync("../Shared/_Post", post)


					}
				}



			</div>
		</div>
		<div class="flex-1">
			<div class="sm:grid-cols-2 lg:space-y-4 lg:pb-8 max-lg:grid max-lg:gap-6">
				<div class="box p-5 px-6">
					<partial name="Sidebar/_SuggestedFriends" />
				</div>
				<div class="box p-5 px-6 border1">
					<partial name="Sidebar/_TrendsForYou" />
				</div>
			</div>
		</div>
	</div>
</main>

<partial name="Modals/_CreateStory"  />
<partial name="Modals/_CreateStatus" model="new Post()" />